<h1>Users</h1>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
<ul>
  <% @users.each do |user| %>
    <a href="<%= user_path(user) %>">
      <div class="user-box">
        <%= render partial: 'shared/user_photo', locals: { user: user } %>
        <%= render partial: 'shared/user_details', locals: { user: user } %>
      </div>
    </a>
  <% end %>
</ul>
